@font-face {
    font-family: "integral";
    src: url(./../../../../assets/fonts/integral-CF/IntegralCF-Regular.ttf);
}

@font-face {
    font-family: "satoshi";
    src: url(./../../../../assets/fonts/satoshi/Satoshi-Regular.ttf);
}